
h1
{
	color:navy;
	border-bottom:1px solid red;
}

p
{
	font-size:26px;
	font-family:sans-serif;
	color:#000;
}

p.rubric
{
	font-size:24px;
	font-style:italic;
	font-family:Helvetica, Arial, sans-serif;
	color:red;
}

p.boilerplate
{
	font-size:26px;
	font-family:sans-serif;
	color:#8B4513;
}

body
{
	font-size:26px;
	background-color:#FFFAF0;
	margin-left:50px;
	margin-right:50px;
	background-image:url(images/paper.gif);
}

img
{
	float:left;
	opacity:.4;
	filter:alpha(opacity=40);
	margin:0 12px;
}

.principal, .day, .collect {
	display: none;
}

#jsmessage {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
}
