body
{
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 2.5em;
    max-width: 960px;
    margin: auto;
    width: 95%;
	background-color:#FFFAF0;
	background-image:url(../images/golden-paper.jpg);
}

img
{
	float:left;
	opacity:.4;
	filter:alpha(opacity=40);
	margin:0 12px;
}

h1
{
    font-size: 1.5em;
	color:navy;
	border-bottom:1px solid red;
    font-weight: bold;
}

p
{
	font-family:Helvetica, Arial, sans-serif;
	color:#000;
    margin-bottom: 1em;
}

p.rubric
{
	font-style:italic;
	font-size: 0.75em;
	color:red;
	margin-bottom: 0em;
}

p.copyright
{
	font-style:italic;
	font-size: 0.75em;
	color:black;
	text-align: center
}

p.boilerplate
{
	color:#773A10;
	/* white-space: pre-line;*/
}

p.prayer {
	color: #773A10;
	white-space: pre-line;
}

.principal, .day, .collect {
	display: none;
}

#jsmessage {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
}