<p class='boilerplate'>
    {% trans into lang %}In the African Province, pray for Tertiaries in Tanzania, Zambia and Malawi.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for the First Order in the Provinces of America and Europe.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In Queensland B / Northern NSW Region, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
    {{ "I-pray-for-you"|trans({}, 'messages', lang) }}
    <br/>
    {{ deceased_members | nl2br }}
</p>
<p class='rubric'>{% trans into lang %}August: Maximilian Kolbe (Manual F15){% endtrans %}</p>