<p class='boilerplate'>
    {% trans into lang %}In the African Province, pray for Tertiaries in Johannesburg, Pretoria and Lowveld.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for the First Order Brothers in the Province of Divine Compassion (Australia, New Zealand, Korea, Sri Lanka) also the Provinces of PNG and the Solomon Islands.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In Queensland B / Northern NSW Region, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
    {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}{% endif %}
    <br/>
    {{ deceased_members | nl2br }}
</p>
<p class='rubric'>{% trans into lang %}July: Bonaventure (Manual F11); August: Mary, the Mother of the Lord (Manual F16){% endtrans %}</p>