<p class='boilerplate'>
    {% trans into lang %}In the Province of Asia – Pacific, pray for Tertiaries in Papua New Guinea.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for Franciscans International.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In Queensland B / Northern NSW Region, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
    {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}{% endif %}
    <br/>
    {{ deceased_members | nl2br }}
</p>