<p class='boilerplate'>
    {% trans into lang %}In the Province of Asia – Pacific, pray for Tertiaries in the Australia - South Australia Region, and Western Australia Region.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for Franciscan Aid.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In Queensland B / Northern NSW Region, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
    {{ "I-pray-for-you"|trans({}, 'messages', lang) }}
    <br/>
    {{ deceased_members | nl2br }}
</p>
<p class='rubric'>{% trans into lang %}August: Transitus of St Clare (Manual F13); October: All Franciscan Saints (Manual F22){% endtrans %}</p>