<p class='boilerplate'>
    {% trans into lang %}In the European Province, pray for Tertiaries in South East England and London and Central South England.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for the Roman Catholic Poor Clares{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In Victoria / Tasmania Region, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
    {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}{% endif %}
    <br/>
    {{ deceased_members | nl2br }}
</p>
<p class='rubric'>{% trans into lang %}November: Fr Algy SSF (Manual F24){% endtrans %}</p>