<p class='boilerplate'>
    {% trans into lang %}In the Province of the Pacific, pray for Tertiaries in the Solomon Island of Makira and Republic of Vanuatu.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for the Provincial Minister, Mandy Wheatley; the Assistant Provincial Minister, Sally Buckley and the Provincial Chaplain, Gemma Dashwood.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In the Region of Popondetta, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
    <br/>
    {{ deceased_members | nl2br }}
</p>
<p class='rubric'>{% trans into lang %}October: The Transitus of St Francis (Manual F20){% endtrans %}</p>