<p class='boilerplate'>
    {% trans into lang %}In the Province of the Pacific, pray for Tertiaries in Aotearoa/New Zealand: Auckland, Waikato, Bay of Plenty.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for the Provincial Secretary, John Blakemore; the Provincial Treasurer, Jane Noller, and Assistant Treasurer, Glenys McCarrick.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In the Region of Dogura, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
    {{ "I-pray-for-you"|trans({}, 'messages', lang) }}
    <br/>
    {{ deceased_members | nl2br }}
</p>
<p class='rubric'>{% trans into lang %}August: John Vianney Cure d’Ars (Manual F12); October: St Francis (Manual F21){% endtrans %}</p>