<p class='boilerplate'>
    {% trans into lang %}In the Province of Asia – Pacific, pray for all Tertiaries in the Australia - New South Wales A, New South Wales B/ACT Regions.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for all Area Convenors.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In the Region of Dogura, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
    {{ "I-pray-for-you"|trans({}, 'messages', lang) }}
    <br/>
    {{ deceased_members | nl2br }}
</p>