<p class='boilerplate'>
    {% trans into lang %}In the Province of Asia – Pacific, pray for Tertiaries in the Australia - Victoria/Tasmania Region.{% endtrans %}<br/>
    <br/>
    {% trans into lang %}Pray for all isolated Tertiaries.{% endtrans %}
</p>
<p class='rubric'>{% trans into lang %}In Queensland A Region, pray for{% endtrans %}</p>
<p class='boilerplate'>{{ living_members_1 | nl2br }}<br/>
    {% if "I-pray-for-you"|trans({}, 'messages', lang) != "I-pray-for-you" %}{{ "I-pray-for-you"|trans({}, 'messages', lang) }}{% endif %}
    <br/>
    {{ deceased_members | nl2br }}
</p>
<p class='rubric'>{% trans into lang %}February: Anglican Franciscan Pioneers (Manual F3){% endtrans %}</p>

