<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Mary, The Mother of the Lord</p>
<p class='boilerplate'>
  {% trans into lang %}God of love,
you chose the blessed Virgin Mary
to be the mother of your only Son:
grant that we who have been redeemed by his blood,
may share with her the glory of your eternal kingdom;
through Jesus Christ our Lord,
who lives and reigns with you,
in the unity of the Holy Spirit,
one God, now and for ever.{% endtrans %} <strong>{% trans into lang %}Amen{% endtrans %}</strong>
</p>
