<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Francis of Assisi</p>
<p class='boilerplate'>
  {% trans into lang %}God our Father,
you always delight to reveal yourself to the childlike and lowly of heart:
grant that, following the example of our blessed father, Francis,
we may count the wisdom of this world as foolishness
and know only Jesus Christ and him crucified;
who is alive and reigns with you and the Holy Spirit,
one God, now and for ever.{% endtrans %}
  {% trans into lang %}Amen{% endtrans %}
</p>