<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Jack Winslow</p>
<p class='boilerplate'>
  {% trans into lang %}Loving God, you inspired Jack Winslow to look with the eyelids of the dawn, to preach the Gospel and live its principles in community. Deepen our love for one another and so bring you glory in your Son Jesus Christ.{% endtrans %} <strong>{% trans into lang %}Amen{% endtrans %}</strong>
</p>
