<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Anglican Franciscan Pioneers</p>
<p class='boilerplate'>
  {% trans into lang %}Lord God,
  you kept the pioneers of the revival
  of the Franciscan life in the Anglican Communion
  faithful to Christ's pattern of poverty and humility:
  may we, inspired by their example,
  live in fidelity to our calling
  and come to the perfection
  you have shown us in your Son Jesus Christ our Lord,
  who lives and reigns with you,
  in the unity of the Holy Spirit,
  one God, now and for ever.{% endtrans %}
  <b>{% trans into lang %}Amen{% endtrans %}</b>
</p>