<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Brother Geoffrey SSF</p>
<p class='boilerplate'>
  {% trans into lang %}Faithful God,
  you filled Brother Geoffrey with divine compassion
  and an all-embracing trust.
  Help us to persist in compassion and faithfulness
  and so imitate and honour your Son Jesus Christ our Lord.{% endtrans %}
  {% trans into lang %}Amen{% endtrans %}
</p>