<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Father Algy SSF</p>
<p class='boilerplate'>
  {% trans into lang %}Creator God,
  your presence fills us with awe and joy.
  Help us, as we remember your servant Father Algy,
  to see your face in every one we meet,
  and to share with the community the joy of knowing you,
  through Jesus Christ our Lord.{% endtrans %}
  {% trans into lang %}Amen{% endtrans %}
</p>