<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Requiem for Departed Franciscans</p>
<p class='boilerplate'>
  {% trans into lang %}O God, through your Son, our Lord Jesus Christ,
you have conquered sin and death.
We thank you for those who have died
and have gone before us marked with the sign of faith,
especially the sisters and brothers of our Society.
Grant us, with all the faithful departed,
the sure benefits of your Son's saving passion and glorious resurrection that,
in the last day, when you gather up all things in Christ,
we may with them enjoy the fullness of your promises;
through Jesus Christ our Lord,
who lives and reigns with you,
in the unity of the Holy Spirit,
one God, now and for ever.{% endtrans %} <strong>{% trans into lang %}Amen{% endtrans %}</strong>
</p>
