<p class='rubric'>{% trans into lang %}Prayer of the day: First Franciscan Martyrs</p>
<p class='boilerplate'>
  {% trans into lang %}Everliving God,
  we thank you for the brothers by whose martyrdom
  the beginnings of the Franciscan Order were sanctified:
  grant that following their example and
  strengthened by their fellowship
  we may give our lives to your service, even unto death,
  and share with them your gifts of eternal life;
  through Jesus Christ our Lord,
  who lives and reigns with you,
  in the unity of the Holy Spirit,
  one God, now and for ever.{% endtrans %}
  <b>{% trans into lang %}Amen{% endtrans %}</b>
</p>