<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Margaret of Cortona</p>
<p class='boilerplate'>
  {% trans into lang %}Merciful and loving God,
  through your gracious goodness
  you brought Margaret of Cortona
  from the path of sin to the way of salvation;
  in the same mercy may we who have often gone astray
  also come to repentance
  and be recreated in your image and likeness;
  through Jesus Christ our Lord,
  who lives and reigns with you,
  in the unity of the Holy Spirit,
  one God, now and for ever.{% endtrans %}
  {% trans into lang %}Amen{% endtrans %}
</p>