<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Bernadine of Siena</p>
<p class='boilerplate'>
  {% trans into lang %}God of glory, who gave your servant Bernardine a most tender love of the Holy Name of Jesus, grant that we may always be alive with the spirit of your love; through Jesus Christ our Lord, who lives and reigns with you, in the unity of the Holy Spirit, one God, now and for ever.{% endtrans %} <strong>{% trans into lang %}Amen{% endtrans %}</strong>
</p>
