<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Transitus of St Clare</p>
<p class='boilerplate'>
  {% trans into lang %}Gracious God, you came among us as servant of all; may we, like our sister Clare, forget ourselves in love for you and in compassion for others. We ask this through Christ our Lord.{% endtrans %} <strong>{% trans into lang %}Amen{% endtrans %}</strong>
</p>
