<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Elizabeth of Hungary </p>
<p class='boilerplate'>
  {% trans into lang %}Merciful God,
who helped Elizabeth of Hungary
to recognise and honour Christ in the poor:
grant that we may use the prosperity of this present world
for the glory of your eternal kingdom;
through Jesus Christ our Lord,
who lives and reigns with you,
in the unity of the Holy Spirit,
one God, now and for ever.{% endtrans %}
  {% trans into lang %}Amen{% endtrans %}
</p>