<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Brother Douglas</p>
<p class='boilerplate'>
  {% trans into lang %}God of the poor, you called Brother Douglas to care for the poor and helpless: give us grace to see our brother and sister in every person we meet and to deal generously with those in need following the example of our Brother and Lord, your Son Jesus Christ.{% endtrans %} <strong>{% trans into lang %}Amen{% endtrans %}</strong>
</p>
