<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Louis, King, Patron of the Third Order</p>
<p class='boilerplate'>
{% trans into lang %}King of kings, and Lord of lords,
you called your servant Louis of France to an earthly kingdom
and gave him a deep love for you and your people:
may we who commemorate him today
be filled with your loving grace
that we too may be fruitful in good works
and attain the glorious crown of your saints;
through the same Jesus Christ our Lord,
who lives and reigns with you,
in the unity of the Holy Spirit,
one God, now and for ever.{% endtrans %}
  {% trans into lang %}Amen{% endtrans %}
</p>