<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} John Vianney</p>
<p class='boilerplate'>
  {% trans into lang %}God of love, who filled your servant John Vianney with zeal as a priest, pastor, and confessor: help us, by your grace, to win all our brothers and sisters for Christ and to share with them in eternal glory; through Jesus Christ our Lord, who lives and reigns with you, in the unity of the Holy Spirit, one God, now and for ever.{% endtrans %} <strong>{% trans into lang %}Amen{% endtrans %}</strong>
</p>
