<p class='rubric'>{% trans into lang %}Prayer of the day:{% endtrans %} Anthony of Padua</p>
<p class='boilerplate'>
  {% trans into lang %}Lord God,
through the powerful preaching of Antony of Padua
many were brought out of darkness and error
into the clear light of your gospel:
may we keep the faith which he taught
and by word and example share it with others;
through Jesus Christ our Lord,
who lives and reigns with you,
in the unity of the Holy Spirit,
one God, now and for ever.{% endtrans %}
  {% trans into lang %}Amen{% endtrans %}
</p>