<p class='boilerplate'>
    {% trans into lang %}The Second Aim, cont'd{% endtrans %}
</p>
<p class='boilerplate'>
    {% trans into lang %}As Tertiaries, we are prepared not only to speak out for social justice and international peace, but to put these principles into practice in our own lives, cheerfully facing any scorn or persecution to which this may lead.{% endtrans %}
</p>