<p class='boilerplate'>
    {% trans into lang %}The Three Notes of the Order{% endtrans %}
</p>
<p class='boilerplate'>
    {% trans into lang %}Humility, love, and joy are the three notes which mark the lives of Tertiaries. When these characteristics are evident throughout the Order, its work will be fruitful. Without them, all that it attempts will be in vain.{% endtrans %}
</p>