<p class='boilerplate'>
    {% trans into lang %}The Second Aim, cont'd{% endtrans %}
</p>
<p class='boilerplate'>
    {% trans into lang %}Members of the Third Order fight against all such injustice in the name of Christ, in whom there can be neither Jew nor Greek, slave nor free, male nor female; for in him all are one. Our chief object is to reflect that openness to all which was characteristic of Jesus. This can only be achieved in a spirit of chastity, which sees others as belonging to God and not as a means of self-fulfillment."{% endtrans %}
</p>