<p class='boilerplate'>
    {% trans into lang %}The Principles of the Third Order, a portion of which is set for reflection each day, are based on the Rule of the Christa Seva Sangha from Poona in India. This community, formed in 1922, was inspired both by the Gospel of Christ and the way of life in an Indian Ashram. This community of married and single people, ordained and lay, led by Fr Jack Winslow, lived a common life as equals.{% endtrans %}
</p>
<p class='boilerplate'>
    {% trans into lang %}In 1928 the Rule was revised under the guidance of Fr Algy Robertson and some aspects of that Rule can also be found in The Third Order Principles.{% endtrans %}
</p>
<p class='boilerplate'>
    {% trans into lang %}We give thanks to God for the Principles of the Third Order that inspire us in the Franciscan way of following Jesus.{% endtrans %}
</p>
<p class='boilerplate'><br/>
    {% trans into lang %}Reflect on which portion has particularly encouraged or challenged you in this past month.{% endtrans %}
</p>
