<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="{{ asset('assets/Icon.png') }}">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ asset('assets/AppleIcon.png') }}">
    <title>tssf Community Obedience</title>

    <link rel="stylesheet" href="{{ asset('app.css') }}">

</head>
<body>
